<h2 class="home-kicker">Bienvenu sur mon blog :)</h2>

<p>Tout est encore nouveau car je viens de commencer. </p>

<p>Principalement, je voudrais partager mes idées et réflexions sur
l’IA. C’est un sujet qui me passionne et m’effraie en même temps. Je me sens souvent “en retard” parce que c’est un
monde qui avance vite, et justement ce sentiment est ce que j’aimerais explorer. Comment les humains se sentent-ils
devant ce phénomène ? Pourquoi fait-on confiance aux outils ? En quoi nos vies sont-elles en train de changer ?</p>

<p>Je suis loin d’être au courant de tout, mais je fais de mon mieux pour m’informer et je prends le temps de m’arrêter sur
ce qui m’intrigue. Pour en savoir plus sur moi, tu peux aller sur la page <a href="/about">À propos</a>. Pour mon
parcours scolaire/pro, tu peux aller sur <a href="/curriculumvitae">Curriculum Vitae</a>.
</p>

Merci.